.bubble-recv
{
    position: relative;
    width: 330px;
    height: 75px;
    padding: 10px;
    background: var(--color, red);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: #000000 solid 1px;
    margin-bottom: 10px;
}

.bubble-recv:after 
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 15px 15px 0;
    border-color: transparent var(--color, red);
    display: block;
    width: 0;
    z-index: 1;
    left: -15px;
    top: 12px;
}

.bubble-recv:before 
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 15px 15px 0;
    border-color: transparent #000000;
    display: block;
    width: 0;
    z-index: 0;
    left: -16px;
    top: 12px;
}
            
.bubble-sent
{
    position: relative;
    width: 330px;
    height: 75px;
    padding: 10px;
    background: var(--color, red);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: #000000 solid 1px;
    margin-bottom: 10px;
}

.bubble-sent:after 
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 0 15px 15px;
    border-color: transparent var(--color, red);
    display: block;
    width: 0;
    z-index: 1;
    right: -15px;
    top: 12px;
}

.bubble-sent:before 
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 0 15px 15px;
    border-color: transparent #000000;
    display: block;
    width: 0;
    z-index: 0;
    right: -16px;
    top: 12px;
}

.spinner {
    display: inline-block;
    opacity: 0;
    width: 0;

    -webkit-transition: opacity 0.25s, width 0.25s;
    -moz-transition: opacity 0.25s, width 0.25s;
    -o-transition: opacity 0.25s, width 0.25s;
    transition: opacity 0.25s, width 0.25s;
}

.has-spinner.active {
    cursor:progress;
}

.has-spinner.active .spinner {
    opacity: 1;
    width: auto; 
}

.has-spinner.btn-mini.active .spinner {
    width: 10px;
}

.has-spinner.btn-small.active .spinner {
    width: 13px;
}

.has-spinner.btn.active .spinner {
    width: 16px;
}

.has-spinner.btn-large.active .spinner {
    width: 19px;
}

.panel-body {
    padding-right: 35px;
    padding-left: 35px;
}
